.bloco-post {
    padding: 5px;
    width: 215px; /* Os cards ocuparão a tela inteira */
    height: 400px;
    display: flex;
    flex-wrap: wrap; /* O tamanho dos cards são mantidos e a linha é quebrada */ 
    flex-direction: row;
    border-radius: 4px;
}

div {
    border: 2px solid orange;
    width: 250px;
    float: left;
}

.img-post {
    width: 215px;
    height: 349px;
}